<mat-card>
    <h2 class="alinear">Listado de roles.</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Buscar" appearance="fill">
                <mat-label>Nombre del rol.</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
    </mat-card-header>

    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary">Agregar Role</button>
                </li>
            </ul>

        </div>
    </mat-card-header>

    
</mat-card>