<app-menu (toggleSidenav)="toggleSidenav()"> </app-menu>

<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav mode="over" [opened]="isSidenavOpen()" (closedStart)="isSidenavOpen.set(false)"
        style="width: 260px;">
        <div class="profile-card">
            <div class="header-profile-card">
                <h2>
                    {{authService.isAuthenticated() ? authService.user.username : 'CAPACITATE'}}
                </h2>
                <h4>
                    {{ authService.isAuthenticated() ? authService.user.email : 'El trabajo bien hecho!'}}
                </h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>